<app-navbar></app-navbar>
<h1>To-do List</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row g-3">
                <ul *ngFor="let i of data" style="list-style: none;">
                    <li>
                        <input type="checkbox" #check [checked]="i.completed" [disabled]="i.completed" (click)="newfunction(i.completed,check)">
                        {{i.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>