/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("https://images.pexels.com/photos/589841/pexels-photo-589841.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(7px);
}